html {
   visibility: hidden;
   opacity: 0;
}

html.hydrated {
   visibility: visible;
   opacity: 1;
   transition: opacity 0.2s ease-in-out;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      @apply font-heading;
   }

   body {
      @apply font-sans;
   }
}